.App {
  text-align: center;
}

body {
  --color1: rgba(17, 138, 178, 1);
  --color4: rgba(247, 237, 226, 1);
  --color3: rgba(245, 202, 195, 1);

  --header-height: 50px;
  --gutter: 30px;
  --footer-height: 25px;

  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  background-color: var(--color3);
  padding: 20px;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
}

.home {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: var(--gutter);
  padding-bottom: var(--gutter);
  padding-left: 10%;
  padding-right: 10%;
  margin-top: var(--gutter);
  margin-bottom: var(--gutter);
  border: solid 6px var(--color1);
  font-size: 1.2em;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  background-color: var(--color3);
  height: var(--header-height);
  box-shadow: var(--shadow);
  padding: 5%;
  font-size: 1.4em;
}
img {
  width: 650px;
  height: auto;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

img:hover {
  transform: scale(1.1);
}

.item-div {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 8px;
  border: 3px solid var(--color1);
}

input {
  background-color: var(--color4);
  border: none;
  padding: 8px 16px;
  font-weight: 600;
  text-decoration: none;
  margin: 4px 12px;
  cursor: pointer;
}

select {
  background-color: var(--color4);
  border: none;
  padding: 8px 16px;
  font-weight: 600;
  text-decoration: none;
  margin: 4px 12px;
  cursor: pointer;
}

button {
  background-color: var(--color4);
  border: none;
  padding: 8px 16px;
  font-weight: 600;
  text-decoration: none;
  margin: 4px 12px;
  cursor: pointer;
}

li {
  list-style-type: none;
}

a:link {
  text-decoration: none;
  color: rgba(79, 119, 45, 1);
}

a:visited {
  color: var(--color1);
}
